@font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.ttf);
	font-family: Futura Medium;
	src: url(../fonts/Futura Medium.ttf);
	font-family: Justus-ItalicOldstyle;
	src: url(../fonts/Justus-ItalicOldstyle.ttf);	
}
*{
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	background: #fafafa;
}
ul{
	list-style: none;
}
img{
	margin-bottom: 4px;
}
h3{
	font-family: Futura Medium;
	font-size: 30px;
}
td{
	width: 33%;
}
a{
	color: #78a8bb;
}
p.comment{
	padding-left: 15px;
}
.active{
	color: #3c3c3c;
}
.not-active{
	color: #999999;
}
.f_left,.nav_top ul li,.bottom-column{
	float: left;
}
.f_right{
	float: right;
}
.font-justus{
	font-family: Justus-ItalicOldstyle;
}
.font-futura{
	font-family: Futura Medium;
	font-size: 12px;
}
.font-sans{
	font-family: OpenSans-Regular;
}
.nav_top{
	height: 73px;
	margin: auto;
	padding-top: 11px;
	background: #ffffff;
	box-shadow: 0px 3px 5px rgba(0, 1, 1, 0.1);
	display: block;
}
.decorist-title{
	max-height: 51px;
	max-width: 200px;
}
.help{
	margin-top: -40px;
	margin-right: 225px;
	color: #78a8bb;
	font-family: Justus-ItalicOldstyle;
	font-style: italic;
	font-size: 16px;
}
.log-but{
	height: 34px;
	margin-top: -47px;
	margin-right: 10%;
	padding:8px 20px 8px 20px;
	border-radius: 5px;
	font-size: 14px;
	color: #ffffff;
	background: #78a8bb;
	text-align: center;
	border:none;
}
.button{
	height: 34px;
	padding:8px 20px 8px 20px;
	border-radius: 5px;
	font-size: 14px;
	color: #ffffff;
	background: #78a8bb;
	text-align: center;
	border:none;
	margin-top: 9px;
}
.button-grey{
	border:none;
	margin-right: 10px;
	padding:8px 20px 8px 20px;
	border-radius: 5px;
	font-size: 14px;
	color: #78a8bb;
	background: #f2f2f2;
	text-align: center;
	margin-top: 9px;
}
.circle-active{
	background: #ffffff;
	width: 38px;
	height: 38px;
	margin: 10px auto;
	border: 1px solid #222;
	border-radius: 50%;
	font-family: Futura Medium;
	font-size: 18px;
	text-align: center;
}
.circle{
	background: #ffffff;
	width: 38px;
	height: 38px;
	margin: 10px auto;
	border: 1px solid #999999;
	border-radius: 50%;
	font-family: Futura Medium;
	font-size: 18px;
	text-align: center;
}
.nav-table{
	top: 186px;
	position: absolute;
}
.nav-circles{
	height: 125px;
}
.horizontal
{
	height: 38px;
  	width: 940px;
  	border-bottom: 2px solid #ededed;
  	position: relative;
}
.levels{
	margin-left: 6%;
	width: 88%;
	line-height: 35px;
	text-align: center;
}
.levels tr td{
	padding-left: 15px;
}
.main-area{
	width: 962px;
	display: block;
  	margin-right: auto;
  	margin-left: auto;
}
.hline { 
	width:100%;
	height:1px;
	background: #ededed;
	margin-top: 12px;
	margin-bottom: 12px;
}
.cart{
	clear: both;
	width: 621px;
	background: #ffffff;
	padding-left: 22px;
	padding-right: 19px;
	padding-top: 20px;
	text-align: left;
}
.link-color{
	padding-left: 2%;
	color: #78a8bb;
	margin-top: 19px;
	margin-bottom: 17px;
	margin-right: 10px;
}
.one-line{
	white-space: nowrap;
	text-align: left;
}
#img-tab{
	padding: 0px;
	margin-left: -28px;
}
.order-table{
	font-size: 12px;
	margin-left: auto;
}
.nav-bottom{
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 160px;
	bottom: 0;
	margin-top: 40px;
	background: #f0f0f0;
	text-align: left;
}
.bottom-column{
	background: #f0f0f0;
	color: #95b8c6;
	width: 25%;
}
.title-color{
	color: #222222;
}
.bottom-column ul li{
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	margin: auto;
}
.logo-small{
	max-height: 38px;
	max-width: 142px;
}
.purchase-info{
	display: table;
	width: 580px;
	background: #f7f7f7;
	margin-right: 22px;
}
.table-right{
	text-align: right;
	width: 30%;
	margin-top: 17px;
	margin-bottom: 17px;
}
.table-right tr td{
	padding-top: 3px;
	padding-right: 39px;
}
.vert-line{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #dedede;
}
.form-size{
	height: 29px;
	margin-right: 10px;
}
.f-normal{
	font-weight: normal;
	font-size: 12px;
}
.congrats{
	border-radius: 5px;
	margin: 10px 20px 10px 0px;
	padding: 10px;
	background: #86c271;
}
.clear-float{
	height:10px;
	overflow:hidden;
	clear:both;
}
.fs12{
	font-size: 12px;
}
.fs13{
	font-size: 13px;
}
.fs14{
	font-size: 14px;
}
.fs15{
	font-size: 15px;
}
.bord{
	border-style: solid;
	border-color: #f7f7f7;
	border-width: 1px;
}
.f14{
	font-size: 14px;
}
.f18{
	font-size: 18px;
	margin-top: 24px;
	margin-bottom: 18px;
}
.f24{
	font-size: 24px;
	margin-bottom: 18px;
}
.f23{
	font-size: 23px;
}
.size{
	width: 108%;
	margin: 10% -5%;
	padding: 24px 21px 28px 20px;
}
.close {
	position: absolute;
	right: -20px;
	top: -20px;
}
.res-vert{
	resize: vertical;
}
.hide{
	visibility: hidden;
	height: 0px;
}
.form-control{
	box-shadow: 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 2px 0px rgba(255,255,255);
}
.inn{
	background: #f7f7f7;
}
.w340{
	width: 340px;
}
.w264{
	width: 264px;
}
.w230{
	width: 230px;
}
.w192{
	width: 192px;
}
.w162{
	width: 162px;
}
.w150{
	width: 150px;
}
.w100{
	width: 100px;
}
.w80{
	width: 80px;
}
.w70{
	width: 70px;
}
.w54{
	width: 54px;
}
.congr{
	color:#fff;
	font-size:18px;
}
.congr-small{
	color:#c5fbd4;
	font-size:17px;
}
.form-inline{
	margin-top: 22px;
}
.f-norm{
	font-weight: normal;
}
.pad-small{
	padding-bottom: 17px;
}
.pad-large{
	padding-bottom: 34px;
}
.pad-mid{
	padding-bottom: 28px;
}
#text1{
	width: 100%;
	height: 90px;
}
.clr-gray{
	color: #dedede;
}
.marg-mid{
	margin-bottom: 30px;
}
.marg-rt{
	margin-right: 30%;
}
.marg-top{
	margin-top: auto;
	margin-bottom: 22px;
}
@media screen and (max-width: 1200px){
	.decor[class="hide"]{
		display: none !important;
	}
}