*{
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	background: #fafafa;
}
ul{
	list-style: none;
}
h3{
	font-family: Futura Medium;
	font-size: 30px;
}
td{
	width: 33%;
}
a{
	color: #78a8bb;
}
p.comment{
	padding-left: 15px;
}
.active{
	color: #3c3c3c;
}
.not-active{
	color: #999999;
}
.f_left,.nav_top ul li,.bottom-column{
	float: left;
}
.f_right{
	float: right;
}
.font-justus{
	font-family: Justus-ItalicOldstyle;
	font-style: italic;
	font-size: 23px;
}
.font-futura{
	font-family: Futura Medium;
	font-size: 12px;
}
.nav_top{
	height: 73px;
	margin: auto;
	padding-top: 11px;
	background: #ffffff;
	box-shadow: 0px 3px 5px rgba(0, 1, 1, 0.1);
	display: block;
}
.decorist-title{
	max-height: 51px;
	max-width: 200px;
}
.help{
	margin-top: -40px;
	margin-right: 225px;
	color: #78a8bb;
	font-family: Justus-ItalicOldstyle;
	font-style: italic;
	font-size: 16px;
}
.log-but{
	margin-top: -43px;
	margin-right: 145px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 14px;
	color: #ffffff;
	background: #78a8bb;
	text-align: center;
	border:none;
}
.button{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 14px;
	color: #ffffff;
	background: #78a8bb;
	text-align: center;
	border:none;
	margin-top: 9px;
}
.button-grey{
	border:none;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 14px;
	color: #78a8bb;
	background: #f2f2f2;
	text-align: center;
	margin-top: 9px;
}
.circle-active{
	background: #ffffff;
	width: 35px;
	height: 35px;
	margin: 10px auto;
	border: 1px solid #222;
	border-radius: 50%;
	font-family: FuturaBTMedium;
	font-size: 10px;
	text-align: center;
}
.circle{
	background: #ffffff;
	width: 35px;
	height: 35px;
	margin: 10px auto;
	border: 1px solid #999999;
	border-radius: 50%;
	font-family: FuturaBTMedium;
	font-size: 10px;
	text-align: center;
}
.nav-table{
	top: 187px;
	position: absolute;
}
.nav-circles{
	height: 125px;
}
.horizontal
{
	height: 30%;
  	width: 940px;
  	border-bottom: 2px solid #ededed;
  	position: relative;
}
.levels{
	margin-left: 12%;
	width: 76%;
	line-height: 35px;
	text-align: center;
}
.levels tr td{
	padding-left: 15px;
}
.main-area{
	width: 962px;
	display: block;
  	margin-right: auto;
  	margin-left: auto;
}
.hline { 
	width:100%;
	height:1px;
	background: #ededed;
	margin-top: 12px;
	margin-bottom: 12px;
}
.cart{
	clear: both;
	width: 621px;
	background: #ffffff;
	padding-left: 22px;
	padding-right: 19px;
	padding-top: 20px;
	text-align: left;
}
.link-color{
	padding-left: 2%;
	color: #78a8bb;
	margin-top: 17px;
	margin-bottom: 17px;
	margin-right: 10px;
}
.one-line{
	white-space: nowrap;
	text-align: left;
}
#img-tab{
	padding: 0px;
	margin-left: -28px;
}
.order-table{
	font-size: 12px;
	margin-left: auto;
}
.nav-bottom{
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 160px;
	bottom: 0;
	margin-top: 40px;
	background: #f0f0f0;
	text-align: left;
}
.bottom-column{
	background: #f0f0f0;
	color: #95b8c6;
	width: 25%;
}
.title-color{
	color: #222222;
}
.bottom-column ul li{
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	margin: auto;
}
.logo-small{
	max-height: 38px;
	max-width: 142px;
}
.purchase-info{
	display: table;
	width: 580px;
	background: #f7f7f7;
	margin-right: 22px;
}
.table-right{
	text-align: right;
	width: 30%;
	margin-top: 17px;
	margin-bottom: 17px;
}
.table-right tr td{
	padding-top: 3px;
	padding-right: 39px;
}
.vert-line{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #dedede;
}
.form-size{
	height: 29px;
	margin-right: 10px;
}
.f-normal{
	font-weight: normal;
	font-size: 12px;
}
.congrats{
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	background: #86c271;
}
.clear-float{
	height:10px;
	overflow:hidden;
	clear:both;
}
.pb{
	padding-bottom: 17px;
}
.fs13{
	font-size: 13px;
}
.font-OS{
	font-family:OpenSans-Regular;
}
.bord{
	border-style: solid;
	border-color: #f7f7f7;
	border-width: 1px;
}